<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>MakersLink Scheduling</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
  {% bootstrap_css %}         {# Embed Bootstrap CSS #}
  {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
  {% block css %}{% endblock %}
  {% block script %}{% endblock %}
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Boka pass</a></li>
          <li><a href="{% url 'joinEvent' %}">Anmäl deltagande</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'hosts' %}">Hosts</a></li>
          <li><a href="{% url 'calendars' %}">Calendars</a></li>
          <li><a href="{% url 'templates' %}">Templates</a></li>
          <li><a href="{% url 'rules' %}">Rules</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Logga ut</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>
