{% extends "base_form.html" %}

{% block css %}
<style>
    .eventstatus-1:before{
        content: "Ombokning krävs";
    }
    .eventstatus-1{
        color: #DD4444;
    }
    .eventstatus0:before{
        content: "Ledigt";
    }
    .eventstatus0{
        color: blue;
    }
    .eventstatus1:before{
        content: "Bokat";
    }
    .eventstatus1{
        color: green;
    }
    .eventstatus2:before{
        content: "Inställt";
    }
    .eventstatus2{
        color: red;
    }
    tr.row-uneven{
        background: #EDEDED;
    }
    tr.row-even{
        background: #DCDCDC;
    }
    td, th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    th{
        background: #4CAF50;
        color: white
    }
</style>
{% endblock %}

{% block content %}

<h1>Tillgängliga pass</h1>


{% for message in messages %}
    {% if 'safe' in message.tags %}
        {{ message|safe }}
    {% else %}
        { message }}
    {% endif %}
{% endfor %}

{% if taken_events %}
<b>Följande pass bokades inte för att någon annan redan bokat dem:</b></<br>
<table>
    <thead><tr>
        <th>Rubrik</th>
        <th>Datum & tid</th>
    </tr></thead>
    {% for event in taken_events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.start|date:"Y-m-d H:i" }}-{{ event.end|date:"H:i" }}</td>
        </tr>
    {% endfor %}
</table><br><br>
{% endif %}

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <button type="submit" class="btn  btn-primary">Skicka</button>
        <table id="formset" class="form">
            <thead><tr>
                <th>Rubrik</th>
                <th>Datum & tid</th>
                <th>Status</th>
                <th>Boka/boka av</th>
            </tr></thead>
            {% for form in formset.forms %}
                <tr class="{% cycle 'row-uneven' 'row-even' %}">
                    <td>{{ form.title.value }}</td>
                    <td>{{ form.initial.start|date:"Y-m-d H:i" }}-{{ form.initial.end|date:"H:i" }}</td>
                    <td class="eventstatus{{ form.initial.status }}"></td>
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn  btn-primary">Skicka</button>
    </form>
{% endblock content %}
