{% extends "base_generic.html" %}


{% block page_title %}Host List{% endblock %}
{% block commands %}
<div class="btn-group btn-group-toggle" data-toggle="tooltip" data-placement="top" title="Filter for hosts">
  {% for filter_option in filter_options %}
    <a class="btn btn-outline-secondary btn {% if filter_option == filter %}active{% endif %}" role="button" href="{% url 'hosts_filter' filter=filter_option%}">{{filter_option|capfirst}}</a>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
{% if schedulingperiod_list %}

<table>
  <thead><tr>
    <th>Slack name</th>
    {% for period in schedulingperiod_list %}
      <th><div style = "width:4.5em;text-align: center;">{{ period }} </div></th>
    {% endfor %}
  </tr></thead>
    {% for host, periods in period_host_list.items %}
      <tr class="{% cycle 'row-uneven' 'row-even' %}"><td><a href="{% url 'host-detail' slug=host %}">{{ host }}</a></td>
        {% for period, period_key in periods.items %}
          <td>{{ period_key }}</td>
		{% endfor %}
      </tr>
    {% endfor %}
	<thead><tr>
		<td class="emph">{{ period_host_list.items|length }}</td>
		{% for period in schedulingperiod_list %}
		    <td class="emph">{{ period.event_count }}</td>
		{% endfor %}
	</tr></thead>
</table>
{% else %}
  <p>No hosts in list.</p>
{% endif %}

{% endblock %}

