{% extends "base_generic.html" %}

{% block content %}
<h1>Host List</h1>

{% if object_list %}

<table>
  <thead><tr>
    <th>Slack name</th>
    <th>Booked events</th>
  </tr></thead>

  {% for host in object_list %}
  <tr>
    <td><a href="{% url 'host-detail' slug=host.slackId %}">{{ host.slackId }}</a></td>
    <td>{{ host.host_count  }} ({{ host.period.start }})</td>
  </tr>
  {% endfor %}
  <thead><tr>
  	<th>sum</th>
  	<th>sum</th>
  </tr></thead>
  <tr>
  	<td>{{ object_list.count }}</td>
  	<td>{{ booking_count }}</td>
  </tr>
</table><br><br>

{% regroup user_list by slackId as host_period_list %}

<table>
  <thead><tr>
    <th></th>
    {% for period in period_list %}
        <th><div style = "width:4.5em;">{{ period }} </div></th>
    {% endfor %}
  </tr></thead>

    {% for host in host_period_list %}
        <tr>
            <th>{{ host.grouper }}</th>
            
                {% for period in period_list %}
                    {% for col in host.list %}
                        {% if col.period == period.pk %}
                            <td>{{ col.host_count }}</td>
                        {% elif col.period == None %}
                            <td>0</td>
                        {% elif forloop.first and col.period >= period.pk %}
                            <td>0</td>
                        {% elif forloop.last and col.period <= period.pk %}
                            <td>0</td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tr>
    {% endfor %}

</table>

{% else %}
  <p>No hosts in list.</p>
{% endif %}

{% endblock %}

