{% extends "base_generic.html" %}

{% block content %}
<h1>Host List</h1>

{% if object_list %}

<table>
  <thead><tr>
    <th>Slack name</th>
    <th>Booked events</th>
  </tr></thead>

  {% for host in object_list %}
  <tr>
    <td><a href="{% url 'host-detail' slug=host.slackId %}">{{ host.slackId }}</a></td>
    <td>{{ host.events_count  }}</td>
  </tr>
  {% endfor %}
  <thead><tr>
  	<th>sum</th>
  	<th>sum</th>
  </tr></thead>
  <tr>
  	<td>{{ object_list.count }}</td>
  	<td>{{ booking_count }}</td>
  </tr>
</table><br><br>

{% regroup user_list by eventinstance__period as period_list %}

<ul>
{% for period in period_list %}
    <li>{{ period.grouper }}
    <ul>
        {% for user in period.list %}
          <li>{{ user.slackId }} ({{ user.events_count }})</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% regroup user_list by slackId as regrouped %}
<ul>
{% for user in regrouped %}
    <li>{{ user.grouper }}
    <ul>
        {% for period in user.list %}
          <li>{{ period.eventinstance__period }} ({{ period.events_count }})</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% else %}
  <p>No hosts in list.</p>
{% endif %}
{% debug %}
{% endblock %}

