{% extends "base_generic.html" %}

{% block content %}
<h1>MakersLink Scheduling Home</h1>

<h2>Dynamic content</h2>

  <p>Current list of EventInstances for the next month:</p>
  <table>
      <tr>
        <th>Title</th>
        <th>Host</th>
        <th>Header</th>
        <th>Body</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>StatusCode</th>
      </tr>
      {% for event in event_list %}
        <tr>
          <td>{{ event.title }}</td>
          <td>{{ event.host }}</td>
          <td>{{ event.header }}</td>
          <td>{{ event.body }}</td>
          <td>{{ event.start|date:"Y-m-d H:i" }}</td>
          <td>{{ event.end|date:"Y-m-d H:i" }}</td>
          <td>{{ event.statusText }}</td>
          <td>{{ event.status }}</td>
        </tr>
        <p></p>
      {% endfor %}
    </table>

{% endblock %}
