{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ bookingcalendar.name }}</h1>
  <strong class="text-success"><a href="{% url 'calendar-update' pk=bookingcalendar.pk %}">Edit</a></strong> - <strong class="text-warning"><a href="{% url 'calendar-delete' pk=bookingcalendar.pk %}">Delete</a></strong>

  <p><strong>Google Calendar ID:</strong> {{ bookingcalendar.google_calendar_id }}</p>
  <p><strong>Service Account Username:</strong> {{ bookingcalendar.service_account_username }}</p>
  <p><strong>Scope:</strong> {{ bookingcalendar.scope }}</p>
  <p><strong>Service Account Secret:</strong> {% if bookingcalendar.service_account %}<p class="text-success">Uploaded{% else %}<p class="text-warning">None{% endif %}</p></p>
  <p><strong>Timezone:</strong> {{ bookingcalendar.timezone }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Connected to the following Templates</h4>
      {% for template in bookingcalendar.bookingtemplate_set.all %}
        <hr>
        <p><a href="{% url 'template-detail' pk=template.pk %}">{{ template.name }}</a></p>
      {% endfor %}
  </div>
{% endblock %}