{% extends "base_generic.html" %}

{% block content %}
    <h1>Template List</h1>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-toggle">
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'template-create' %}">Create new</a>
      </div>
    </div>

    {% if eventtemplate_list %}
    <ul>

      {% for template in eventtemplate_list %}
      <li>
        <a href="{{ template.get_absolute_url }}">{{ template.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No templates have been created.</p>
    {% endif %}       
{% endblock %}

template-detail