{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
{% if object.id %}
Edit event {{ object.name }}
{% else %}
Create event
{% endif %}
{% endblock %}
{% block content %}

{{ form|as_crispy_errors }}

<form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-group btn-group-toggle">
        <button type="submit" class="btn  btn-primary">Submit</button>
        {% if object.id %}
        <a href="{% url 'event-detail' pk=object.id %}" class="btn btn-outline-secondary">Cancel</a>
        {% else %}
        <a href="{% url 'events' %}" class="btn btn-outline-secondary">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
