{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if object.id %}
<h1>Edit template {{ object.name }}</h1>
{% else %}
<h1>Create template</h1>
{% endif %}

{{ form|as_crispy_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn  btn-primary">Submit</button>
    {% if object.id %}
    <a href="{% url 'template-detail' pk=object.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% else %}
    <a href="{% url 'templates' %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% endif %}
</form>
{% endblock %}
