{% extends "base_generic.html" %}

{% block content %}
    {% if object.id %}
        <h2>Edit EventInstance: {{ object.title }} ({{ object.start|date:"Y-m-d H:i" }} - {{ object.end|date:"H:i" }})</h2>
        {{ form.errors }}
        {{ form.non_field_errors }}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <button type="submit" class="btn  btn-primary">Submit</button>
            <a href="{% url 'eventinstance-admin-detail' pk=object.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
        </form>
    {% else %}
        <h1>Creation not permitted with this form</h1>
    {% endif %}
{% endblock %}