{% extends "base_generic.html" %}

{% block content %}
    <h1>Tillgängliga tillfällen</h1>

    {% if eventinstance_list %}
    <ul>

      {% for eventinstance in eventinstance_list %}
      <li>
        <a href="{% url 'eventinstance-join' pk=eventinstance.pk %}">{{ eventinstance.title }} {{ eventinstance.start|date:"Y-m-d H:i" }}</a>
        
        {% if user.is_staff and eventinstance.participants.all.exists %}
        	({% for participant in eventinstance.participants.all %}{% if not forloop.first %}, {% endif %}{{ participant.slackId }}{% endfor %})
        {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No Events have been created.</p>
    {% endif %}
{% endblock %}

template-detail

