{% extends "base_generic.html" %}

{% block content %}
  <h1>EventInstance: {{ eventinstance.title }}</h1>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-toggle">
      <a class="btn btn-primary btn-sm" role="button" href="{% url 'eventinstances-admin' %}">List</a>
      <a class="btn btn-primary btn-sm" role="button" href="{% url 'eventinstance-admin-update' pk=eventinstance.pk %}">Edit</a>
      <a class="btn btn-outline-danger btn-sm" role="button" href="{% url 'eventinstance-admin-delete' pk=eventinstance.pk %}">Delete</a>
    </div>
  </div>

  <p><strong>Title:</strong> {{ eventinstance.title }}</p>
  <p><strong>Start:</strong> {{ eventinstance.start }}</p>
  <p><strong>End:</strong> {{ eventinstance.end }}</p>
  <p><strong>Calendar ID:</strong> {{ eventinstance.google_calendar_booking_id }}</p>
  <p><strong>Host:</strong> {{ eventinstance.host }}</p>
  <p><strong>Status:</strong> {{ eventinstance.statusText }}({{ eventinstance.status }})</p>
  <p><strong>Period:</strong> <a href="{{ eventinstance.period.get_absolute_url }}">{{ eventinstance.period }}</a></p>
  <p><strong>Unique title (for cancelling):</strong> {{ eventinstance.unique_title }}</p>
  <p><strong>Unique description (for cancelling):</strong> {{ eventinstance.unique_description }}</p>
  <p><strong>Participants:</strong>
    <ul>
      {% for participant in eventinstance.participants.all %}
        <li>{{ participant }}</li>
      {% endfor %}
</ul></p>

{% endblock %}