{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if object.id %}
<h1>Edit eventinstance {{ object.title }}</h1>
{{ form|as_crispy_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-group btn-group-toggle">
        <button type="submit" class="btn  btn-primary">Submit</button>
        <a href="{% url 'eventinstance-admin-detail' pk=object.id %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
{% else %}
<h1>Creation not permitted with this form</h1>
{% endif %}
{% endblock %}
