{% extends "base_generic.html" %}

{% block page_title %}Event: {{ event.name }}{% endblock %}

{% block content %}
  <p><strong>Name:</strong> {{ event.name }}</p>
  <p><strong>Description:</strong> {{ event.description }}</p>
  <p><strong>Template:</strong> <a href="{% url 'template-detail' pk=event.template.pk %}">{{ event.template }}</a></p>
  <p><strong>Start:</strong> {{ event.start |date:"Y-m-d H:i"}}</p>
  <p><strong>End:</strong> {{ event.end |date:"Y-m-d H:i"}}</p>
  <p><strong>Repeat End:</strong> {{ event.repeat_end |date:"Y-m-d H:i"}}</p>
  {% if event.rule is None %}
    <p><strong>Rule:</strong> No rule set</p>
  {% else %}
    <p><strong>Rule:</strong> <a href="{% url 'rule-detail' pk=event.rule.pk %}">{{ event.rule.name }}</a></p>
  {% endif %}
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Events from today and a month forward</h4>
    <table>
      <tr>
        <th>Host</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
      </tr>
      {% for event in eventlist %}
        <tr>
          <th>{{ event.host }}</th>
          <th>{{ event.start |date:"Y-m-d H:i"}}</th>
          <th>{{ event.end |date:"Y-m-d H:i"}}</th>
          <th>{{ event.statusText }}</th>
        </tr>
        <p></p>
      {% endfor %}
    </table>
  </div>
{% endblock %}

