{% extends "base_generic.html" %}

{% block content %}
    <h1>Event List</h1>
    <a href="{% url 'event-create' %}">Create new</a><br>

    {% if view.kwargs.filter and view.kwargs.filter != "none"%}
      <a href="{% url 'events_filter' filter='none'%}">Remove filter</a>
    {% else %}
      <a href="{% url 'events' %}">Filter on events in last period</a>
    {% endif %}

    {% if event_list %}
    <ul>

      {% for event in event_list %}
      <li>
        <a href="{{ event.get_absolute_url }}">{{ event.name }} ({{ event.start |date:"Y-m-d"}})</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No Events have been created.</p>
    {% endif %}
{% endblock %}

template-detail
