{% extends "base_generic.html" %}
{% load filters %}

{% block page_title %}{{ form.instance.title }}{% endblock %}

{% block content %}

{{ form.errors }}
{{ form.non_field_errors }}

<p><strong>Start:</strong> {{ form.instance.start|date:"Y-m-d H:i" }} </p>
<p><strong>Slut:</strong> {{ form.instance.end|date:"Y-m-d H:i" }} </p>
<p><strong>Värd:</strong> {{ form.instance.host.slackId }}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Deltagare: </h4>
      <p>
        {% for participant in form.instance.participants.all %}{% if not forloop.first %}, {% endif %}{{ participant.slackId }}{% endfor %}
      </p>
  </div>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <div class="btn-group btn-group-toggle">
      {% if request.user|is_participant:form.instance %}
    	  <button type="submit" class="btn  btn-primary">Avanmäl</button>
      {% else %}
    	  <button type="submit" class="btn  btn-primary">Anmäl</button>
      {% endif %}
      <a href="{% url 'joinEvent' %}" class="btn btn btn-outline-secondary">Avbryt</a>
  </div>
</form>
{% endblock %}
