{% extends "base_generic.html" %}
{% block content %}
{% regroup participant_list by period as participant_list_by_period %}

  <h1>Värd: {{ view_user.slackId }}</h1>

  <p><strong>E-Post:</strong> {{ view_user.email }}</p>
  <table>
  <thead>
    <tr><th colspan =3>Antal pass i period</th></tr>
  </thead>
  {% for period in period_list %}
    <tr class="{% cycle 'row-uneven' 'row-even' %}">
      <td>{{ period.name }}</td>
      <td>{{ period.event_count }}</td>
      <td>
          {% for host, key_string in period.get_participant_key_list.items %}
            {% if host == view_user.slackId %}
                 {{ key_string }}
		    {% endif %}
          {% endfor %}
      </td>
      
      
    </tr>
  {% empty %}
    <tr><td colspan=2>Ännu inte värd på några pass.</td></tr>
  {% endfor %}
  </table>
  
  <div style="margin-top:20px">
    <h4>Värd för följande pass:</h4>
    {% if hosted_events %}
      <table>
        <thead>
          <tr>
            <th>Rubrik</th>
            <th>Datum & tid</th>
          </tr>
        </thead>
        {% regroup hosted_events by period as period_list %}
      
        {% for period in period_list %}
          <tr>
            <td class="emph sub-head" colspan =2>
              <a data-toggle="collapse" href="#collapse{{ period.grouper }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{ period.grouper }}
              </a>
            </td>
          </tr>
          <tbody class="collapse {% if forloop.first %}show{% endif %}" id="collapse{{ period.grouper }}">
            {% for eventinstance in period.list %}
              <tr class="{% cycle 'row-uneven' 'row-even' as rowclass %}">
                <td>{{ eventinstance.title }}</td>
                <td>{{ eventinstance.start|date:"Y-m-d H:i" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    {% else %}
      Ännu inte värd för några pass.
    {% endif %}
  </div>
  
  <div style="margin-top:20px">
    <h4>Deltagare på följande pass:</h4>
    {% if participant_events %}
      <table>
        <thead>
          <tr>
            <th>Rubrik</th>
            <th>Datum & tid</th>
          </tr>
        </thead>
        {% regroup participant_events by period as period_list %}
      
        {% for period in period_list %}
          <tr>
            <td class="emph sub-head" colspan =2>
              <a data-toggle="collapse" href="#collapse{{ period.grouper }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{ period.grouper }}
              </a>
            </td>
          </tr>
          <tbody class="collapse {% if forloop.first %}show{% endif %}" id="collapse{{ period.grouper }}">
            {% for eventinstance in period.list %}
              <tr class="{% cycle 'row-uneven' 'row-even' as rowclass %}">
                <td>{{ eventinstance.title }}</td>
                <td>{{ eventinstance.start|date:"Y-m-d H:i" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    {% else %}
      Ännu inte deltagare på några pass.
    {% endif %}
  </div>
  <ul>
{% endblock %}
