{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if object.id %}
<h1>Edit exclusion {{ object.name }}</h1>
{% else %}
<h1>Create exclusion</h1>
{% endif %}

{{ form|as_crispy_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn  btn-primary">Submit</button>
    {% if object.id %}
    <a href="{% url 'ruleexclusion-detail' pk=object.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% else %}
    <a href="{% url 'ruleexclusions' %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% endif %}
</form>
{% endblock %}
