{% extends "base_generic.html" %}

{% block content %}
  <h1>Rule: {{ schedulingrule.name }}</h1>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-toggle">
      <a class="btn btn-primary btn-sm" role="button" href="{% url 'rules' %}">List</a>
      <a class="btn btn-primary btn-sm" role="button" href="{% url 'rule-update' pk=schedulingrule.pk %}">Edit</a>
      <a class="btn btn-outline-danger btn-sm" role="button" href="{% url 'rule-delete' pk=schedulingrule.pk %}">Delete</a>
    </div>
  </div>

  <p><strong>Name:</strong> {{ schedulingrule.name }}</p>
  <p><strong>Description:</strong> {{ schedulingrule.description }}</p>
  <p><strong>Frequency:</strong> {{ schedulingrule.frequency }}</p>
  <p><strong>Params:</strong> {{ schedulingrule.params }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Connected to the following Bookings</h4>
      {% for booking in bookingtemplate.booking_set.all %}
        <hr>
        <p>{{ booking.name }}</p>
      {% endfor %}
  </div>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Next 5 instances if today was the startdate:</h4>
      {% for event in eventlist %}
        <hr>
        <p>{{ event |date:"Y-m-d H:i"}}</p>
      {% endfor %}
  </div>
{% endblock %}

