{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
{% if object.id %}
Edit period {{ object.name }}
{% else %}
Create period
{% endif %}
{% endblock %}

{% block content %}

{{ form|as_crispy_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-group btn-group-toggle">
      <button type="submit" class="btn  btn-primary">Submit</button>
      {% if object.id %}
      <a href="{% url 'period-detail' pk=object.id %}" class="btn btn-outline-secondary">Cancel</a>
      {% else %}
      <a href="{% url 'periods' %}" class="btn btn-outline-secondary">Cancel</a>
      {% endif %}
  </div>
</form>

{% if hosts_last_period.hosts %}

<p><strong>Hosts in last period will be added to new period if
"add from last" is selected above.</strong></p>

<ul>

  {% for host in hosts_last_period.hosts.all %}
  <li>
    {{ host }}
  </li>
  {% endfor %}

</ul>

{% endif %}

{% endblock %}
