{% extends "base_generic.html" %}

{% block content %}
    <h1>Exclusion List</h1>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-toggle">
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'ruleexclusion-create' %}">Create new</a>
      </div>
    </div>

    {% if schedulingruleexclusion_list %}
    <ul>

      {% for exclusion in schedulingruleexclusion_list %}
      <li>
        <a href="{{ exclusion.get_absolute_url }}">{{ exclusion.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No exclusions have been created.</p>
    {% endif %}
{% endblock %}

template-detail
