{% extends "base_generic.html" %}

{% block content %}
{% if object.id %}
<h1>Edit calendar {{ object.name }}</h1>
{% else %}
<h1>Create calendar</h1>
{% endif %}
{{ form.errors }}
{{ form.non_field_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit" class="btn  btn-primary">Submit</button>
    <a href="{% url 'calendars' %}"><button type="button" class="btn btn-default">Cancel</button></a>
</form>
{% endblock %}
