{% extends "base_generic.html" %}

{% block content %}
    <h1>Period List</h1>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-toggle">
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'period-create' %}">Create new</a>
      </div>
    </div>

    {% if schedulingperiod_list %}
    <ul>

      {% for period in schedulingperiod_list %}
      <li>
        <a href="{{ period.get_absolute_url }}">{{ period.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No Periods have been created.</p>
    {% endif %}
{% endblock %}

template-detail
