{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
{% if object.id %}
Edit rule {{ object.name }}
{% else %}
Create rule
{% endif %}
{% endblock %}

{% block content %}

{{ form|as_crispy_errors }}

<h2>Help with params</h2>
<p>Format for params are: "rruleparam:value;"</p>
<p>more help at <a href="https://dateutil.readthedocs.io/en/stable/rrule.html#module-dateutil.rrule">the documentation</a></p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-group btn-group-toggle">
        <button type="submit" class="btn  btn-primary">Submit</button>
        {% if object.id %}
        <a href="{% url 'rule-detail' pk=object.id %}" class="btn btn-outline-secondary">Cancel</a>
        {% else %}
        <a href="{% url 'rules' %}" class="btn btn-outline-secondary">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
