{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if object.id %}
<h1>Edit rule {{ object.name }}</h1>
{% else %}
<h1>Create rule</h1>
{% endif %}

{{ form|as_crispy_errors }}

<h2>Help with params</h2>
<p>Format for params are: "rruleparam:value;"</p>
<p>more help at <a href="https://dateutil.readthedocs.io/en/stable/rrule.html#module-dateutil.rrule">the documentation</a></p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn  btn-primary">Submit</button>
    {% if object.id %}
    <a href="{% url 'rule-detail' pk=object.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% else %}
    <a href="{% url 'rules' %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% endif %}
</form>
{% endblock %}
