{% extends "base_form.html" %}

{% block content %}
{% if object.id %}
<h1>Edit exclusion {{ object.name }}</h1>
{% else %}
<h1>Create exclusion</h1>
{% endif %}
{{ form.errors }}
{{ form.non_field_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit" class="btn  btn-primary">Submit</button>
    {% if object.id %}
    <a href="{% url 'ruleexclusion-detail' pk=object.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% else %}
    <a href="{% url 'ruleexclusions' %}"><button type="button" class="btn btn-default">Cancel</button></a>
    {% endif %}
</form>
{% endblock %}
