{% extends "base_generic.html" %}

{% block content %}
    <h1>Rule List</h1>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-toggle">
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'rule-create' %}">Create new</a>
      </div>
    </div>

    {% if schedulingrule_list %}
    <ul>

      {% for rule in schedulingrule_list %}
      <li>
        <a href="{{ rule.get_absolute_url }}">{{ rule.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No rules have been created.</p>
    {% endif %}       
{% endblock %}

template-detail