{% extends "base_card_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Logga in{% endblock %}

{% block card_form %}
  {{ form|as_crispy_errors }}

  {% if user.is_authenticated %}
  <p class="errornote">
      Du är inloggad som {{ user }} och har inte behörighet till denna sida. Vill du logga in som en annan användare?
  </p>
  {% endif %}

  <form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    {{ form|crispy }}
    <!--
    <div class="form-row">
      {{ form.username.errors }}
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password.errors }}
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}">
    </div>-->
    {% url 'password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}">Glömt lösenord eller användarnamn?</a>
    </div>
    {% endif %}
    <div class="submit-row">
      <label>&nbsp;</label><button class="btn  btn-primary" type="submit">Logga in</button>
    </div>
  </form>
{% endblock %}
