{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Återställ lösenord{% endblock %}

{% block content %}

{{ form|as_crispy_errors }}

<p>Ange den email adress som du använt för att skapa ditt konto så skickar vi
ett mail med instruktioner för att sätta ett nytt lösenord.</p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-group btn-group-toggle">
        <button type="submit" class="btn  btn-primary">Skicka</button>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Avbryt</a>
    </div>
</form>

{% endblock %}
