{% extends "base_form.html" %}

{% block content %}

<h1>Återställ lösenord</h1>

{{ form.errors }}
{{ form.non_field_errors }}

<p>Ange den email adress som du använt för att skapa ditt konto så skickar vi
ett mail med instruktioner för att sätta ett nytt lösenord.</p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit" class="btn  btn-primary">Skicka</button>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-default">Avbryt</button></a>
</form>

{% endblock %}
