{% extends "base_form.html" %}

{% block content %}

<h1>Välj lösenord</h1>

{{ form.errors }}
{{ form.non_field_errors }}

{% if validlink %}

<p>Skriv ditt lösenord två gånger så vi kan kontrollera att det blivit rätt.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Lösenord:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Lösenord igen:</label>
        {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn  btn-primary">Skicka in</button>
</fieldset>
</form>

{% else %}

<p>Länken för att välja lösenord var ogiltig, troligen för att du redan använt den.</p>

{% endif %}

{% endblock %}
