{% extends "base_card_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Välj lösenord{% endblock %}

{% block card_form %}
{{ form|as_crispy_errors }}

{% if validlink %}

<p class="card-text">Skriv ditt lösenord två gånger så vi kan kontrollera att det blivit rätt.</p>

<form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
    {{ form|crispy }}
    <button type="submit" class="btn  btn-primary">Skicka in</button>
</fieldset>
</form>

{% else %}

<p class="card-text">Länken för att välja lösenord var ogiltig, troligen för att du redan använt den.</p>

{% endif %}

{% endblock %}
