{% extends "base_form.html" %}

{% block content %}

<h1>Set password</h1>

{{ form.errors }}
{{ form.non_field_errors }}

{% if validlink %}

<p>Please enter your password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Password:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn  btn-primary">Submit</button>
</fieldset>
</form>

{% else %}

<p>The password set link was invalid, possibly because it has already been used.
Please request a password reset.</p>

{% endif %}

{% endblock %}
