{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Användarregistrering{% endblock %}

{% block content %}

{{ form.errors }}
{{ form.non_field_errors }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    
    <div class="btn-group btn-group-toggle">
        <button type="submit" class="btn  btn-primary">Registrera</button>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Avbryt</a>
    </div>

</form>
{% endblock %}
